//-
    * @file Listing of globally included scripts in the development environment.
    * @author Thomas Ibarra <sparksd2145.dev@gmail.com

//- Roboto Font
link(href='https://fonts.googleapis.com/css?family=Roboto:400,300', rel='stylesheet', type='text/css')

//- jQuery
script(src="/libraries/jquery/dist/jquery.js")

//- lodash
script(src="/libraries/lodash/lodash.js")

//- Moment
script(src="/libraries/moment/moment.js")

//- QR Code Generation Library (used in angular-qrcode)
script(src="/libraries/qrcode-generator/js/qrcode.js")

//- Angular
script(src="/libraries/angular/angular.js")
script(src="/libraries/angular-animate/angular-animate.js")
script(src="/libraries/angular-aria/angular-aria.js")
script(src="/libraries/angular-route/angular-route.js")
script(src="/libraries/angular-resource/angular-resource.js")
script(src="/libraries/angularjs-geolocation/src/geolocation.js")
script(src="/libraries/angular-sanitize/angular-sanitize.js")
script(src="/libraries/ngstorage/ngStorage.js")
script(src="/libraries/angular-qrcode/angular-qrcode.js")

// Material Design Icon Library
link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")

// Angular Material
link(rel='stylesheet', href='/libraries/angular-material/angular-material.css')
script(src='/libraries/angular-material/angular-material.js')