//-
    * @file Listing of globally included libraries in the production environment.
    * @author Thomas Ibarra <sparksd2145.dev@gmail.com

script(src="/master/start.js")

script(src="/controllers/search.js")

script(src="/components/state.js")

script(src="/services/products.js")
script(src="/services/availability.js")

script(src="/states/home/home.js")
script(src="/states/about/about.js")
script(src="/states/team/team.js")
script(src="/states/product/product.js")
script(src="/states/search/search.js")